APP_PORT=8090
POSTGRES_PORT=5435
POSTGRES_DB=emplacadora
POSTGRES_USER=emplacadora
POSTGRES_PASSWORD=emplacadora123
DEFAULT_ADMIN_EMAIL=admin@emplacadora.com
DEFAULT_ADMIN_PASSWORD=123456
DEFAULT_ADMIN_NAME=Administrador Padrão
INTEGRATION_API_KEY=dev-integration-key
